<div class="bask-wrapper">
  <div class="element">
    <% @users.each do |user| %>
    	<p style="line-height: 32px;"><span style="height: 32px; width: 32px; display: inline-block; background-image: url('<%= user.image_url %>'); background-position: center center; background-repeat: no-repeat; border-radius: 100%; background-size: 32px 32px;"></span> <%= user.username %> - <%= user.rank %> - <%= user.tags %></p>
    <% end %>
  </div>
</div>