<div class="bask-wrapper">
  <div class="element">
    <p>Trade and other tools coming soon!</p>
    <br>
    <p>Please send suggestions to CMDR DRIETON in Discord.</p>
  </div>
</div>
<script type="text/javascript">page.dashboard.init();</script>