.git
.log
.gitignore
.dockerignore
.DS_Store
.ruby-version
*.coffee
*.dump

log/*
tmp/*
.circleci/*

public/system
public/assets
public/*.css
public/*.js
public/images/
node_modules/

README.md
npm-debug.log
ngrok

.vagrant
Vagrantfile
provision.sh
