<div class="bask-wrapper">
  <div class="element">
    <p>CMDR <%= @session_user.username %>! You are signed in!</p>
    <br>
    <p><a onclick="page.dashboard.signout();">Signout</a></p>
  </div>
</div>
<script type="text/javascript">page.dashboard.init();</script>