<div class="bask-wrapper">
  <div class="element form center">
    <div class="input-group">
      <label for="signin_username">Username</label>
      <input type="text" placeholder="Username" id="signin_username" />
    </div>
    <div class="input-group">
      <label for="signin_password">Password</label>
      <input type="password" placeholder="Password" id="signin_password" />
    </div>
    <div class="input-group">
      <button onclick="page.index.submitSigninForm();">Sign In</button>
    </div>
  </div>
</div>
<script type="text/javascript">page.index.init();</script>