body div.bask-wrapper div.element.model-list {
  div.listing {
    border: 1px solid #f4a009;
    padding: 8px;
    background: repeating-linear-gradient(-55deg, #222, #222 10px, #333 10px, #333 20px);
    margin-top: 4px;

    &:nth-of-type(1) {
      margin-top: 0;
    }

    &.disabled {
      opacity: 0.5;
      filter: blur(1px);
    }

    div.main {
      &.two-wide {
        &.without-image {
          div.right {
            padding: 0 300px 0 0;
          }
        }

        div.left {
          position: absolute;
          width: 22px;
          height: 22px;
          z-index: 1;

          div.image {
            height: 22px;
            width: 22px;
            background-position: center center;
            background-repeat: no-repeat;
            border-radius: 100%;
            background-size: 22px 22px;
          }
        }

        div.right {
          padding: 0 280px 0 28px;
          z-index: 0;

          p {
            font-size: 14px;
            line-height: 22px;

            &.descriptor {}
            &.quote {
              font-style: italic;
            }
            &.meta {
              font-size: 14px;
              position: absolute;
              display: block;
              right: 0;
              z-index: 2;

              span {
                display: inline;

                &.hidden {
                  display: none;
                }
              }
            }
            .subtext {
              font-size: 18px;
              line-height: 24px;
            }
          }
        }
      }
    }

    div.tools {

    }
  }
}