body {
  a {
    text-decoration: underline;
    color: #f4a009;
    transition: color 0.15s;

    &:hover {
      color: #ffd07b;
      cursor: pointer;
    }
  }

  div.bask-wrapper {
    div.element {
      padding: 16px 16px 0 16px;
    }
  }

  div.errors {
    padding: 16px;
    background-color: #ffa0a0;
    display: none;

    &.show {
      display: block;
    }

    p {
      color: #af1212;
      margin: 0 auto;
      max-width: 400px;

      &.title {
        font-size: 18px;
        line-height: 18px;
        font-weight: 400;
      }

      &.detail {
        padding-top: 4px;
      }
    }
  }

  div.nav {
    border-top: 2px solid #f4a009;
    border-bottom: 2px solid #f4a009;
    padding: 2px 0;

    a {
      display: inline-block;
      color: #f4a009;
      text-align: center;
      font-weight: 400;
      font-size: 16px;
      padding: 8px;
      text-decoration: none;
      width: 25%;
      transition: background-color 0.2s;

      &.active, &:hover {
        background-color: #f4a009;
        color: black;
      }
    }
  }
}