/* @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700); */
@font-face {
  font-family: "OpenSans";
  src: url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
}

// p, span, a, h1, h2, h3, h4, h5, h6 {
//   font-family: Open Sans, sans-serif;
//   font-weight: 300;
// }

html, body {
  font-family: Open Sans, sans-serif;
  font-weight: 300;

  h3 {
    font-size: 22px;
    line-height: 22px;
    display: block;
    padding: 0 0 6px 0;
    margin: 0 0 12px 0;
    border-bottom: 2px solid #f4a009;

    a {
      font-size: 16px;
    }
  }

  strong {
    display: inline;
    font-weight: 600;
  }
}