<div class="bask-wrapper">
  <div class="element">
    <p style="line-height: 24px;"><%= @account.type_with_name %> - [DISCORD] <%= @account.discord_name %> - <%= @account.credits %> credits</p>
  </div>
</div>